/* *{
    margin: 0;
    padding: 0;
} */

body{
    margin: 0;
    padding: 15px;;
}



/* NavBar Styling Section */

header{
    margin: -15px;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-self: center;
}
.nav-list li{
    align-items: center;
    padding: 10px;
    border: 2px solid white;

}

.nav-list li:hover{
    background-color: white;
    color: black;
}
/* NavBar Styling Section */



/* testing profile container and Applying CSS for Title and Profile Section*/

.mytitle{
    text-align: center;
}

.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainerOneImage{
    max-width: 30vw;
    padding: 2vw;
    border-radius: 20%;
}

@media (max-width: 481px) {
    .subcontainerOneImage {
        max-width: 30vw;
    }
}

@media (min-width: 482px) and (max-width: 2400px) {
    .subcontainerOneImage {
        max-width: 20vw;
    }
}

@media (min-width: 1024px) and (max-width: 2400px) {
    body{
        margin: 0 10vw;
        border: 2px solid black;
    }
}

@media (min-width: 482px) and (max-width: 1024px) {

    body{
        margin: 0 5vw;
        border: 2px solid black;
    }
}

/* testing profile container */

.bio {
    margin-top: 10px;
}

.bio-title{
    text-decoration:line-through;
    text-align: center;
}



.lists{
    display: flex;
    justify-content: space-around;
}


h2{
    padding-top: 20px;
    border-left: 5px solid red;
    text-align:center;
    padding: 10px 10px;
    background-color: black;
    color: white;
}



/* Making Languages and Skills Box Using Flex */

.myskills{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f5f5db;
    padding: 50px;
    margin: -15px;
}

.languages, .skills {
    background-color: #003246;
    color: #F5F5F5;
    padding: 20px;
    width: 150px;
    height: fit-content;
}

